apiVersion: apps/v1
kind: Deployment
metadata:
  name: simulator
  labels:
    app: simulator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simulator
  template:
    metadata:
      labels:
        app: simulator
    spec:
      containers:
        - name: simulator
          image: vitorremesso/simulator:latest
          env:
            - name: INGESTION_ENDPOINT
              value: "http://backend:8000/events"
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          volumeMounts:
            - name: gpx-volume
              mountPath: /app/trail_route.gpx
              subPath: trail_route.gpx
              readOnly: true
      volumes:
        - name: gpx-volume
          persistentVolumeClaim:
            claimName: gpx-pvc