name: Pipeline CI/CD

on:
  push:
    branches:
      - main
    # Só executa a pipeline se houver alteração em qualquer uma destas pastas
    paths:
      - 'backend/**'
      - 'simulator/**'
      - 'frontend/**'
      - 'k8s/**'

jobs:
  # =================================================================
  # JOB 1: BACKEND (Consumidor/API)
  # =================================================================
  build_backend:
    runs-on: ubuntu-latest
        
    steps:
      - name: 1. Checkout do Código (Permitir push)
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true
          fetch-depth: 0 

      - name: 2. Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: 3. Definir Variáveis e Tag
        id: vars
        run: echo "TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
      
      - name: 4. Build e Push da Imagem do Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/backend:${{ steps.vars.outputs.TAG }}

  # =================================================================
  # JOB 2: SIMULATOR (Produtor)
  # =================================================================
  build_simulator:
    needs: build_backend
    runs-on: ubuntu-latest
      
    steps:
      - name: 1. Checkout do Código
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true
          fetch-depth: 0

      - name: 2. Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: 3. Definir Variáveis e Tag
        id: vars
        run: echo "TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
      
      - name: 4. Build e Push da Imagem do Simulator
        uses: docker/build-push-action@v5
        with:
          context: ./simulator
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/simulator:${{ steps.vars.outputs.TAG }}

  # =================================================================
  # JOB 3: FRONTEND (UI)
  # =================================================================
  build_frontend:
    needs: build_simulator
    runs-on: ubuntu-latest

    steps:
      - name: 1. Checkout do Código
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }} 
          persist-credentials: true
          fetch-depth: 0

      - name: 2. Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: 3. Definir Variáveis e Tag
        id: vars
        run: echo "TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
      
      - name: 4. Build e Push da Imagem do Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/frontend:${{ steps.vars.outputs.TAG }}